.left-col {
  color:#F49A30;
  float: left;
  width: 100%;
  padding: 30px;
  flex: 0.7;
}

.create-btn {
  color: #F49A30;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  bottom: 0;
}

.create-btn:hover {
  color: #da892d;
}

.create-btn:focus {
  background: none;
  color: #be7726;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

input[type="text"] {
  width: 330px;
  padding: 1.2em;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

.add-btn {
  width: 5em;
  background: #F49A30;
  color: #fff;
  border: none;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.add-btn:hover {
  background: #da892d;
  border-radius: 10px;
}

/* .add-btn:focus {
  background-color: #be7726;
} */

.main-title {
  margin: 30px 0px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#F49A30;
  width: 100%;
}

.left-title {
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.main-month {
  margin-bottom: 10px;
}

.right-title {
  margin: 0px 40px 0px 40px;
  font-size: 6rem;
  font-weight: 600;
}

/* TodoItem */
.todo-list-container {
  overflow-y: auto;
  max-height: 430px;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.todo-item.done {
  color: #ccc;
}

.item-right {
  margin-left: auto;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: transparent;
  transition: color 0.3s ease;
}

.delete-btn.done {
  color: #ccc;
}

.delete-btn.done:hover {
  color: #a2a1a1;
}

.delete-btn.done:active {
  color: #b8b6b6;
}

.delete-btn:hover {
  color: #f4993093;
}

.delete-btn:active {
  color: #F49A30;
  background: none;
}

.checkbox {
 display: none;
}

span {
  padding-left: 10px;
  display: inline-block;
  line-height: 1.5;
  text-align: left;
}
