@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Rajdhani:wght@500&display=swap');

* {
    font-family:'Noto Sans KR', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

  .mainWrap {
    width: calc(100% - 13rem);
    @media (max-width: 981px) {
      width: 100%;
    }
  }